/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */




button {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  appearance: none;
  cursor: pointer;
  color: #999;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

