/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore algo mas */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


#__next{
  display: flex;
    flex-direction: column;
    height: 100vh;
}
html{
  height: 100vh;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Poppins!important;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.primary{
  color: #003e6f;
  font-family: Poppins!important;
}
.oscuro{
  color: #222222;
}
.primary-color{
  color: #003e6f;
}
.title01{
  font-weight:700;
  font-size: 80px;
}
.description01{
  font-weight:500;
  font-size: 27px;
  min-width: 7px;
    letter-spacing: -1px;
}
.mitad1{
  width: 50%;
}
.mitad2{
  flex: 1 1 10rem;
}
.grid-content{
  display: grid;
}
.relative-grid {
  grid-column-start: 1;
  grid-row-start: 1;
}

.shadow-adjust{
  box-shadow: 0px 0px 6px #cecdcd;
}



.menu-dashboard{
  
}
.content-dashboard{
  
}

@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) and (min-width: 640px)  { 

  .transition01 {
    
    max-width: 86%;
    background-position-x: 10%;
    right: 0  ;
  }
  
}
@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 3/2)  and (min-width: 640px) { 

  .transition01 {
    
    max-width: 82%;
    background-position: 15%;
    right: 0;
  }

}
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9)  and (min-width: 640px)  { 

  
  .transition01 {
    
    max-width: 76%;
    background-position: 20%;
    right: 0;
  }

}
@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 18/6) and (min-width: 640px) { 
  .transition01 {
    
    max-width: 69%;
    background-position-x: 15% ;
    right: 0;
  }

}
@media screen and (min-aspect-ratio: 18/6)  and (min-width: 640px) { 
  .transition01 {
    
    max-width: 66%;
    background-position: right;
    right: 0;
  }

}

@media screen and (min-width: 1300px) {
  .transition03 {
    right: -3%!important;
    max-width: 960px;
  }
  .transition01 {
    
    
    
    
  }
}


@media screen and (max-width: 640px) { 
  .bg-ui{
    background-color: white;
    width: 100%;
  }
  
  .vertical-arc{
    display: block;
  }

  
  .mitad1{
    width: 100%;
  }
}
@media screen  and (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  .width-message {
    width: 58%;
  }
  .vertical-arc{
    display: none;
  }
  .bg-ui{
    
    
    width:100%;
  }

}
@media screen  and (min-width: 1024px)  and (orientation: landscape) {
  .width-message {
    width: 50%;
  }
  .vertical-arc{
    display: none;
  }

  .bg-ui{
    
    
    width:80%;
  }

}
@media screen  and (min-width: 640px) and (orientation: portrait) {

}
@media screen  and (orientation: portrait) {

  .container-dashboard{
  
    grid-template-rows: auto auto ;

}
.height-0{
    height:0 ;
}

  .portrait-adjust{
    box-shadow: 0px 0px 11px #0000004f;
    background-color: white;
  }

  .width-message {
    width:100%;
  }
  .bg-ui{
    background-color: white;
    margin: 0;
    
    width: 100%;
  }
  .items-center-mod{
    
    align-items: flex-end;
  }
}
@media screen  and (max-width: 640px) and (orientation: landscape) { 

  .container-dashboard{
  
    grid-template-rows: auto auto ;
    
  }
  .height-0{
    height:0 ;
    
  }
}
@media screen  and (min-width: 640px) and (orientation: landscape) { 

  .container-dashboard{
  
    grid-template-columns: auto auto ;
    
  }
  
  .sidebar2{
    position:relative;
    --tw-translate-y: 0;
    transform: var(--tw-transform);
  }

  .bg-ui{
    background-color: transparent;
  }

  .items-center-mod{
    
    align-items: center;
  }

  
  
  .mitad1{
    width: 100%;
  }
}

.blur-bg {
  background-image: url(../../public/overlay-pattern-black.png)!important;
  background-color: rgba(103, 103, 103, 0.5);
  transition:  1s;
  
  
  
}

.not-blur {
  
  transition: 1s;
}
//.not-blur {
//  background-image: url(../../public/overlay-pattern-white.png)!important;
//  background-color: rgba(80, 57, 44, 0);
//  transition: 1s;
//}
//.blur-bg {
//  filter: blur(8px);
//  -webkit-filter: blur(8px);
//  transition:  1s;
  
  
  
//}

//.not-blur {
//  filter: blur(0);
//  -webkit-filter: blur(0);
//  transition: 1s;
//}

.entrar{
  opacity: 1;
  transition: opacity 4s;
}
.salir{
  opacity: 0;
  transition: opacity 4s;
}
.entrarmodal{
  opacity: 1;
  transition: opacity 1s;
}
.salirmodal{
  opacity: 0;
  transition: opacity 1s;
}

.relative-grid {
  grid-column-start: 1;
  grid-row-start:1;
}

@keyframes example1 {
    from {transform:scale(1);}
    to {transform:scale(1.1);}
  }
@keyframes example2 {
    from {transform: translate3d(0, 0, 0px) scale(1);transform-origin:left center 0px;}
    to {transform: translate3d(0, 0, 0px) scale(1.1);transform-origin:left center 0px ;}
  }
@keyframes example3 {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
  }
@keyframes example4 {
    from {transform: translate3d(0, 0, 0px) scale(1.1);transform-origin:left center 0px;}
    to {transform: translate3d(0, 0, 0px) scale(1);transform-origin:left center 0px ;}
  }

.transition{
    animation-duration: 18s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.transition01{
    animation-name: example1;
    will-change: transform;
}
.transition02{
    animation-name: example2;
}
.transition03{
    animation-name: example3;
    will-change: transform;
}
.transition04{
    animation-name: example4;
}

.bg{;pointer-events:none;display:block;object-fit: cover;background-size:cover;background-repeat:no-repeat;}
